body {font-family: calibri; 
	text-align: center;}

h1 {color: black; 
	font-size: 100px; 
	font-family:'Pacifico', cursive; }

h2, h3, h4 {color: #031177; 
	font-size: 30px; 
	margin: 20px;}

h3 {font-family: impact}


ul, ol, li	{text-align: left;}


/*autre*/

.principal {object-fit: cover;}

.secondaire {width: 300px; 
	height: 300px; 
	object-fit: cover;}

.frame {background: #ffeff5;
	border: 3px solid #FFFF00;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 5px 5px 10px grey; }

.text-left {text-align: left;}

.margin-100 {margin: 30px;}

.margin-50-right {margin-right: 50px}

/*autre*/

.btn-pink {display: inline-block;
	margin: 15px;
	background:black;
	border-radius: 10px;
	padding: 10px;
	color: white;
	font-weight: bold;
	border: 3px solid white
}

.btn-pink: hover {background: black;}

/*autre*/

.line-transparent {background: white;
	display: flex; /*permet de mettre les enfants a coté des autres*/
	justify-content: space-around;
	align-items: center;} 

.line-dark {height:5px;
	width: 420px;
	background: #FFDAEC;}

.line-medium {height:5px;
	width: 420px;
	background: #FF53BF;}

.line-light {height:5px;
	width: 420px;
	background: #FFFF00;}

/*autre*/

.my-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;}

.links {
  display: flex;
  justify-content: flex-end;
}

.link {
  margin: 10px 30px;
  color: #FFFF00;}

.link:hover {
  color: #458D2E;
}

/*autre*/

.logo {height: 100px}

/*autre*/

.two-sections {display:flex;
	justify-content: space-around;
	align-items: center;}


.three-section {display:flex;
	justify-content: space-around;}

/*autre*/

.banner {
  background-size: cover;
  background-position: center;
  padding: 60px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 70px;
  font-weight: bold;
}

.banner p {
  font-size: 30px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


/*autre*/

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

